@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">@ViewBag.Message</h1>
        <p>This solution is GitOps enabled where any changes in git repo will update the application on K8s cluster connected to Azure Arc.</p>
        <div class="align-middle">            
             <img src="~/images/k82.png" class="float-right"/>
        </div>          
    </div>
